<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BetaQube Web Design</title>
        <link href="../css/main.css" rel="stylesheet">
    </head>
    <body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">BetaQube</span> WebDesign</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li class="current"><a href="/views/about.html">About</a></li>
                    <li><a href="service.html">Services</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="newsletter">
        <div class="container">
            <h1>Subscribe to our New Letter</h1>
            <form>
                <input type="email" placeholder="Enter your Email here..">
                <button type="submit" class="button_1">Subscribe</button>
            </form>
        </div>
    </section>
    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="page-title">About Us</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus sed mi auctor sodales. Aenean leo ligula, aliquet eu hendrerit vel, sollicitudin quis enim. Donec augue diam, ornare sit amet nisi et, pharetra tincidunt sem. Ut eget turpis diam. Phasellus nec turpis mollis, commodo tellus ac, mollis enim. Ut justo urna, eleifend et nisl quis, euismod bibendum ex. Sed in diam odio. Etiam pulvinar porttitor ipsum ac dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nulla sed mollis tempus. Aliquam erat volutpat. Donec felis justo, porta lacinia lacinia at, rutrum accumsan velit. Etiam blandit, ante a volutpat congue, turpis nunc luctus magna, eget tempus dui odio vel orci. Aenean nec massa nulla.
                </p>
                <p class="dark">
                    Nulla mollis odio massa, id luctus libero venenatis ac. Fusce sapien ipsum, finibus vel lacinia vel, placerat et ligula. Aenean id varius neque. Suspendisse tempus, nisi at vehicula faucibus, orci mi rhoncus orci, quis posuere nisi ex ut urna. Duis ut arcu quis leo aliquet dignissim in in turpis. Mauris mollis vitae justo a vestibulum. Nullam volutpat lectus quis mollis condimentum. Nullam ac rhoncus mauris, eu dapibus libero. Mauris ac suscipit purus. Aenean accumsan faucibus vehicula. In nec lectus fringilla, eleifend felis in, venenatis purus. Aliquam venenatis mi id nulla elementum finibus.
                </p>

            </article>
            <aside id="sidebar">
                <div class="dark">
                    <h3> What we do</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus sed mi auctor sodales. Aenean leo ligula, aliquet eu hendrerit vel, sollicitudin quis enim. Donec augue diam, ornare sit amet nisi et, pharetra tincidunt sem. empus nulla sed mollis tempus. Aliquam erat volutpat. Donec felis justo, porta lacinia lacinia at, rutrum accumsan velit. Etiam blandit, ante a volutpat congue, turpis nunc luctus magna, eget tempus dui odio vel orci. Aenean nec massa nulla.
                    </p>
                </div>
            </aside>
        </div>
    </section>
    <footer>
        <p>BetaQube, &COPY; 2017</p>
    </footer>
    </body>
</html>