<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetaQube Web Design</title>
    <link href="../css/main.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">BetaQube</span> WebDesign</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li class="current"><a href="service.html">Services</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="newsletter">
    <div class="container">
        <h1>Subscribe to our New Letter</h1>
        <form>
            <input type="email" placeholder="Enter your Email here..">
            <button type="submit" class="button_1">Subscribe</button>
        </form>
    </div>
</section>

<footer>
    <p>BetaQube, &COPY; 2017</p>
</footer>
</body>
</html>